<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.getJSON("http://api.bnb48.club/sell48", function(result) {
    console.log(result);
    var value = result.amt.toFixed(2);
    $("#amount").html(value);
    $("#sell48btc").css("visibility", "visible");
  });
});
</script>
<style type="text/css">
#sell48btc {
  padding-bottom: 8px;
  width: 100%;
  max-width: 750px;
}

.label {
  font-size: 0.8em;
}

.content {
  font-size: 56px;
  font-family: monospace;
}

</style>
<div class="feature__wrapper container" id="sell48btc" style="visibility: hidden;">
  <div>
    <span class="label">1 BNB = 48 BTC 挂单量: <br /><span class="content" id="amount"></span></span>
  </div>
</div>