<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.getJSON("http://api.bnb48.club/sell48", function(result) {
    console.log(result);
    var value = result.amt;
    $("#amount").html(value);
    $("#market").css("visibility", "visible");
  });
});
</script>
<style type="text/css">
#market {
  margin-top: 20px;
  padding-bottom: 32px;
  width: 100%;
  max-width: 750px;
}

.row {
  overflow: hidden;
  display: flex;
  align-items: center;
}

#col-header {
  float: left;
  align-items: stretch;
}

#col-other {
  float: left;
  text-align: center;
  align-items: stretch;
  margin: auto;
}

#price-btc {
  font-size: 0.8em;
  color: gray;
}

.label {
  font-size: .8em;
}

.content {
  font-size: .8em;
  font-weight: bold;
}

</style>
<div class="feature__wrapper container" id="sell48btc" style="visibility: hidden;">
  <div>
    <span>1 BNB = 48BTC 挂单量: <span id="amount"></span></span>
  </div>
</div>