<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.getJSON("http://api.bnb48.club/sell48", function(result) {
    console.log(result);
    var value = result.amt.toFixed(2);
    $("#amount").html(value);
    $("#sell48btc").css("visibility", "visible");
  });
});
</script>
<style type="text/css">
#sell48btc {
  padding-bottom: 8px;
  width: 100%;
  max-width: 750px;
}

.label {
  font-size: 0.8em;
}

.content {
  font-size: 56px;
  font-family: monospace;
}

</style>
<div class="feature__wrapper container" id="sell48btc" style="visibility: hidden;">
  <div>
    <span class="label">当前#SellBNBAt48BTC挂单量: <br /><span class="content" id="amount"></span> BNB</span>
  </div>
</div>
<div>
  <p>#SellBNBAt48BTC是俱乐部的主题活动。</p>
  <p>参加这个活动非常简单，只要在币安BNB/BTC挂出价格为48BTC的卖单即可。 </p>
  <p>之后可以截图发Twitter、微博，记得带上#SellBNBAt48BTC 标签。 </p>
  <p>HODL ! 只要您持有一定量的BNB，并同样对他怀有充分的信心，亦或只是为了好玩，就可以来参加。 </p>
  <p>显然，你并不需要成为会员才能参加这个活动 但以至少100BNB参与本活动是加入BNB48的前提条件</p>
</div>
