<script type="text/javascript">
  $(document).ready(function() {
    $(".btn-reward").magnificPopup({
      type: 'inline',
      preloader: false,
      focus: '#username',
      modal: true
    });

    $(document).on('click', '.close', function (e) {
      e.preventDefault();
      $.magnificPopup.close();
    });
  });
</script>

<style type="text/css">
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.reward-qr {
  width: auto;
  height: auto;
}

.address {
  line-height: 48px;
  white-space: nowrap;
}

#reward-label {
  font-size: .85em;
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js"></script>

<div id="reward-modal" class="white-popup mfp-hide">
  <h1>请尽情打赏 {{ include.name }}</h1>
  <img class="reward-qr" src="http://api.qrserver.com/v1/create-qr-code/?size=320x320&data={{include.erc20}}">

  <div class="address">
    <span id="reward-label" class="copy-btn" data-clipboard-target="#reward-label">{{ include.erc20 }}</span> 
    <i class="copy-btn far fa-copy" data-clipboard-target="#reward-label"></i>
  </div>

  <script>
    var clipboard = new ClipboardJS(".copy-btn");
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>

  <p><a class="close" href="#">关闭</a></p>
</div>